@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.container-products {
  background-color: #6b5b4c;
}
.product-txt {
  text-align: center;
  padding-top: 80px;
  font-family: "Lobster", sans-serif;
  font-size: 52px;
  color: #fff;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

hr {
  width: 40%;
  margin: 50px auto;
}
.ItemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.item-name {
  font-family: "Lobster", sans-serif;
  font-size: 28px;
  padding: 10px 0;
}
.item-box {
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 15px;
  border: 1px solid #000;
  transition: transform 0.5s ease;
}
.item-box:hover {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  transform: scale(1.03);
}

.item-quantity {
  color: #fff;
  font-size: 24px;
  background-color: #f04e4e;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  max-width: 100px;
  position: relative;
  left: 110px;
  padding: 10px;
}
.item-desc {
  font-family: "Lobster", sans-serif;
  margin-top: 8px;
  font-size: 18px;
}
.item-price {
  color: gray;
  font-size: 24px;
}

.item-add-button {
  background-color: #458b45;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  transition: transform 0.5s ease;
}
.item-add-button:hover {
  background-color: #41d44186;
  color: #000;
  border: 1px solid black;
}
.item-plus-button {
  background-color: #5c87b8;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 20px 0 0;
}
.item-minus-button {
  background-color: rgb(201, 64, 40);
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
}
